/***************default color *******************/

.bg-onador {
	background-color: #2f3b39;
	color: whitesmoke;
}
.bg-ogray {
	background-color: #f3f3f3;
	color: #181818;
}

.bg-ogreen {
	background: linear-gradient(#2f3b39, #94ad8000);
	/* background:#678650 ; */
	color: black;
}

.bg-ored {
	background: linear-gradient(#ffffff00, black, #b40808);
	/* background: #b6180d; */
	color: black;
}

.bg-oblue-gradient {
	background: linear-gradient(to right, #2e3158 50%, #3f6582);
}
.bg-oblue {
	background:  #2e3158 ;
}

/***************text font styles and size *******************/

/*************** google translate *******************/

.google-translate {
	position: relative;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
	display: none !important;

	z-index: -10000001;
}
#goog-gt-tt {
	display: none !important;
}

.goog-te-gadget-simple {
	background-color: transparent !important;
	border: none !important;
	color: lightslategray !important;
	border-radius: 0.2rem;
	height: 1.4rem;
	margin-top: 5px;
	display: flex;
	align-self: end;
	font-size: 2pt;
	cursor: pointer;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed {
	text-decoration: none;
	color: #9a9dcc !important;
	white-space: nowrap;
	margin-left: 4px;
	margin-right: 4px;
}

.goog-te-gadget-icon {
	border-radius: 2rem;
	margin-left: 2px;
	margin-right: 2px;
	width: 19px;
	height: 19px;
	border: none;
	vertical-align: middle;
}

.pink {
	background: linear-gradient(to right, deeppink 0%, coral 100%);
	border-radius: 0.9rem;
}
.tomato {
	background: linear-gradient(
		to right,
		rgb(226, 161, 40) 0%,
		rgb(252, 193, 0) 100%
	);
}

.bread {
	background: #f7f1ea;
}

.milky {
	background: #ffcb74;
}

::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}

/* Customize the scrollbar track (the background) */
::-webkit-scrollbar-track {
	background: #f1f1f1; /* Color of the track */
	border-radius: 4px; /* Rounded corners of the track */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background: #a19e9e; /* Color of the thumb */
	border-radius: 4px; /* Rounded corners of the thumb */
}

/* Customize the scrollbar thumb when hovering */
::-webkit-scrollbar-thumb:hover {
	background: #555; /* Color of the thumb when hovering */
}
