/***************default color *******************/

.bg-black {
	background-color: #181818;
	color: whitesmoke;
}
.bg-white {
	background-color: whitesmoke;
	color: #181818;
}

.txt-white {
	color: whitesmoke;
}

body::-webkit-scrollbar {
	display: none;
}

/***************text font styles and size *******************/

h1 {
	font-family: "rockobold", "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
}

h2 {
	font-family: "rocko", "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
}

h3 {
	font-family: "rocko", "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
}
h4 {
	font-family: "rocko", "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
	font-size: 10px;
}

p {
	font-size: 16px;
}

/*************** google translate *******************/

.google-translate {
	position: relative;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
	display: none !important;

	z-index: -10000001;
}
#goog-gt-tt {
	display: none !important;
}

.goog-te-gadget-simple {
	background-color: transparent !important;
	border: none !important;
	color: lightslategray !important;
	border-radius: 0.2rem;
	height: 1.4rem;
	margin-top: 5px;
	display: flex;
	align-self: end;
	font-size: 2pt;
	cursor: pointer;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed {
	text-decoration: none;
	color: #dadada !important;
	white-space: nowrap;
	margin-left: 4px;
	margin-right: 4px;
}

.goog-te-gadget-icon {
	border-radius: 2rem;
	margin-left: 2px;
	margin-right: 2px;
	width: 19px;
	height: 19px;
	border: none;
	vertical-align: middle;
}

.pink {
	background: linear-gradient(to right, deeppink 0%, coral 100%);
	border-radius: 0.9rem;
}
