body {
	position: relative;
	top: 0px !important;
	height: 80vh !important;
	width: 100vw !important;
	overflow-x: hidden;
}

.translated-ltr {
	z-index: -10000001;
	display: flex;
	position: absolute;
}

.clasic {
	z-index: -1;
	width: min-content;
	position: absolute;
	background: linear-gradient(#ffffff00, #d1d1da, #e2d7d700);
	height: 700px;
	margin-top: 2.5rem;
}
.header {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
}

main {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
	position: relative;
	min-height: 80vh;
	margin: 0 auto;
	overflow: hidden;
	background: linear-gradient(#ceceda, rgba(255, 255, 0, 0));
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h4 {
	color: #3a3a3a;
	font-size: medium;
}

.carousel img {
	display: block;
	height: 300px;
	padding: 10px;
	margin: 60px;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}

/* ---------------------header-------------- */

.brand {
	font-weight: bolder;
}

#search-button {
	/* border-bottom: 2px solid#776d6d; */
	border-right: none;
	border-top: none;
	border-left: none;
	height: 2.3rem;
	width: 3.5rem;
	border-radius: 0% 2rem 2rem 0%;
	padding: 4px;
	background: linear-gradient(to left, rgb(0, 0, 0), rgb(245, 245, 245));
	box-shadow: none;
}
#search-button:hover {
	border-bottom: 2px solid #776d6d;
	border-right: none;
	border-top: none;
	border-left: none;
	background: linear-gradient(to left, rgb(77, 88, 92), rgb(255, 255, 255));
}
#search-field {
	/* border-bottom: 2px solid#776d6d; */
	border-right: none;
	border-top: none;
	border-left: none;
	height: 2.3rem;
	border-radius: 2rem 0 0 2rem;
	transition-duration: 1s;
}

#search-field:focus {
	border-top: 2px solid#776d6d;
	border-right: none;
	border-bottom: none;
	border-left: none;
	box-shadow: none;
}
#search-field:focus + #search-button {
	border-top: 2px solid #776d6d;
	border-right: none;
	border-bottom: none;
	border-left: none;
	box-shadow: none;
}

.gradient_border {
	background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}
#removeline {
	text-decoration: none;
}

.nobg {
	background: none;
}
#card {
	transition: transform 0.3s ease;
}
#card:hover {
	transform: scale(1.05);
}
#product_name {
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
}
.circle {
	margin: 10px;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #535355;
}
.blkgrdt {
	background: black;
	color: white;
}

.blkgrdt2 {
	background: linear-gradient(#20232f, #b598ec00);
	color: white;
}

.borders {
	border: 2px solid red;
}

.custom-container {
	max-width: 80vw;
	margin: 0 auto;
}

#productsbtn {
	border-radius: 2rem;
	margin-bottom: 10px;
	text-decoration: none;
}

.arrows {
	left: 50vw;
	top: -5%;
	width: 40rem;
	transform: rotate(-120deg);
}

.google-translate {
}
